<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row cont">
                <div class="col-md-4 mx-auto">
                    <h3 class="mb-0 text-white display-3">Reiniciar contraseña</h3>
                </div>
                <div class="b border-left"></div>
                <div class="col-md-6 mx-auto">
                    <form>                                                
                        <p class="text-white">Por favor ingrese su direccion de correo electronico para enviar 
                            una petición de reinicio de contraseña</p>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="material-icons">&#xe158;</i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Dirección de correo" #passwordResetEmail required> 
                        </div>
                        <!--llamando API para reiniciar contraseña-->
                        <div class="formGroup">
                            <input type="submit" class="btn btn-success btn-lg" value="Reiniciar contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                        </div>
                    </form>
                    <br>
                    <div class="redirectToLogin">
                        <span class="text-white">¿Quieres regresar atras?, <a class="card-link" routerLink="/sign-in">Iniciar sesión</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>