.ng-valid[required], .ng-valid.required{
    border-left: 5px solid rgba(32, 77, 32, 0.623);
}

.ng-invalid:not(form){
    border-left: 5px solid rgb(148,27,27);
}

.b{
    margin-left: 5px;
    height: 35px;
}

.minfont{
    font-size: 15px;
}